* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background:#bd5960;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

header h1 {
  font-family: "Chewy", cursive;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 1px;
  transition: transform 0.3s ease, color 0.3s ease;
}

header h1:hover {
  transform: scale(1.05);
  color: #3500b0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.3s;
}


/* GALERIA */
.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 50px 20px;
}

article {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 15px;
  width: 260px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
}

article:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0,0,0,0.3);
}

article img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

article a {
  display: block;
  margin-top: 12px;
  color: #004080;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

article a:hover {
  text-decoration: underline;
  color: #007bff;
}

/* FOOTER */
footer{
    background-color: #bd5960;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  header h1 {
    font-size: 2em;
  }
}

.titulo-link {
    text-decoration: none; /* tira o sublinhado */
    color: white; /* mantém o mesmo tom do topo */
}

.titulo-link:hover {
    text-decoration: underline; /* sublinhado ao passar o mouse */
}